
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Poppins";
} 
.first{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    padding: 2px 1px;
    
}

.one a{
    text-decoration: none;
    color: white;
    background-color: rgb(148, 106, 76);
    padding: 0px 7px;
    margin: 10px;
    

}

.two a {
    text-decoration: none;
    color: rgb(148, 106, 76);
    font-weight: bold;

 
}


.second{
    display: flex;
    align-items: center;
}
.second h4{
    padding: 20px;

}

.box1{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 15px;
    
}
.four a{
    text-decoration: none;
    color: white;
    background-color: blue;
    padding: 4px 13px;
    border-radius: 5px;
    margin-left: 20px;
}

.box2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
}
.forth {
    width: 500px;
    height: 400px;
    margin-right: 150px;

}
.forth img {
    width: 100%;
    height: 100%;
}
.third h1{
    width: 450px;
}
.third p{
    width: 450px;
    margin-top: 10px;
}
.third {
    margin-left: 140px;

}
.five a{
    color: white;
    background-color: blue;
    text-decoration: none;
    padding: 4px 15px;
    border-radius: 5px;
    font-size: 20px;
}
.five {
    margin-top: 15px;

}
.fivth {
    text-align: center;
    margin-top: 80px;

}
.sixth {
    width: 300px;
    height: 500px;
    margin: 30px;
    text-align: center;

}
.sixth img {
    width: 100%;
    height: 100%;
    border-radius: 15px;

}
.box3 {
    display: flex;
    align-items: center;
    justify-content: center;
}